page-signup {
    #bg{
        background:#ffa500;
    }
    #bar{
        background:#ffd966;
    }
    img{
    
            height:20vh;
            width: auto;
            margin: auto;
            margin-top:50px;
            margin-bottom: 50px;
            display: block;
            
    }
    
    }

